[build-system]
requires = ["maturin>=1.0,<2.0"]
build-backend = "maturin"
[[tool.uv.index]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
publish-url = "https://test.pypi.org/legacy/"
explicit = true
